# Rails defaults
/.bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
/public/vite-dev
/public/vite-test
/public/vite

# Vendored gems (we let docker-compose use the bundle_cache volume)
/vendor/bundle
/vendor/cache

# Node
/node_modules
/yarn-error.log

# Local env & credentials
/.env
/.env.local
/config/master.key
/config/credentials/*.key

# Test coverage
/coverage

# OS / IDE
.DS_Store
/.idea
/.vscode
*.swp
